.chatbubble {
  display: flex;
  flex-direction: row;
  .name {
    margin: 3.5px 0px 3.5px 15px;
    padding: 5px 10px;
  }
  .msg {
    background-color: #1b7ec0;
    color: white;
    margin: 1.5px 15px 1.5px 15px;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
  }
}
